body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;



}

::-webkit-scrollbar{
    width: 0 !important;
    display: none;     
}

h1 {
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

footer {
    text-align: right;
    
}

.gray {
    color: gray;
    font-size: 21px;
}

#title {
    font-weight: normal;
    font-size: 50px;
}